[Desktop Entry]
Exec=/opt/org.gitorious.user.rzr.neheglqt/neheglqt.sh
Name=NeHeGlQt 3D demos
Encoding=UTF-8
Version=0.0.0
Type=Application
Terminal=false
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
